body{
  background-color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

img{
  max-width: 50%;
  height: auto;
  border: 5px solid black;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

p{
  font-size: 20px;
  line-height: 1;
  padding: 10px;
  text-align: center;
}

ul {
  padding-left: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

footer p {
  font-size: 10px;
  text-align: center;
}

#light1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  animation-name: switch;
  animation-duration: 2s;
  display: inline-block;
  margin: 20px;
}

#light2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  animation-name: switch;
  animation-duration: 4s;
  display: inline-block;
  margin: 20px;
}

#light3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  animation-name: switch;
  animation-duration: 6s;
  display: inline-block;
  margin: 20px;
}

#light4 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  animation-name: switch;
  animation-duration: 8s;
  display: inline-block;
  margin: 20px;
}

#light5 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  animation-name: switch;
  animation-duration: 10s;
  display: inline-block;
  margin: 20px;
}

#go {
  animation-name: engage;
  animation-duration: 12s;
  display: inline-block;
  margin: 20px;
  font-size: 50px;
}


@keyframes switch {
  from {background-color: inherit;}
  to {background-color: white;}
}

@keyframes engage {
  0% {opacity: 0}
  100% {opacity: 0}
}

#countdown {
  margin-bottom: 20px
}

.active {
  background-color: #4CAF50;
}

.highlight {
  background-color: lightblue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  margin: 10px;
  border: 10px solid #737373;
  background-color: #dee0df;
}

@media only screen and (min-width: 1440px) {
  .flex-container {
    flex-wrap: wrap;
  }
  .flex-container > div {
    width:40%;
  }
}

@media only screen and (max-width: 1440px) {
  nav li {
    float: none;
  }
  .flex-container {
    flex-direction: column;
  }
  .flex-container > div {
    width: 80%;
    margin-left: 7%;
  }
  #countdown {
    display:none;
  }
  #form {
    width: 50%;
    margin: auto;
  }
}

@media screen and (prefers-reduced-motion: reduce) { }

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a:focus{
  position: static;
}

:focus{
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
